.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-bottom: 5rem;
    min-height: 75vh
}

.team {
    display: flex;
    flex-direction: row;
}

.david, .ryan, .ariana, .colby {
    padding: 1rem;
}