.main {
    padding: 2rem;
    padding-bottom: 5rem;
    min-height: 78.8vh
}

.paper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
