.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.postImage {
    border-radius: 0.5%;
}

.post {
    border-radius: 0.5%;
}