h1 {
  font-size: 40px;
  margin-top: 5%;
  margin-bottom: 2%;
}

h3 { 
    font-size: 25px;
    font-weight: lighter;
    margin-top: 1.5%;
    margin-bottom: 3%;
}

.newh4 {
    font-size: 21px;
    font-weight: lighter;
    margin-top: -1.7%;
}

.main {
    margin-top: 0%;
    margin-bottom: 0%;
}


.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-button {
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    background-color: #080808;
    color: #c1c1c1;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    margin-top: 10%;
    text-decoration: none;
}

.start-button:hover {
    background-color: #1b1b1b;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 6%;
}

.hair-type-button {
    width: 200px; /* Set width and height to create circular buttons */
    height: 200px;
    border: none;
    border-radius: 50%; /* Border radius set to 50% for perfect circle */
    background-color: #080808;
    color: #c1c1c1;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
}


.hair-type-button:hover {
    background-color: #1b1b1b;
}